* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circulo {
    height: 600px;
    width: 250px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    margin: 200px auto 300px;
    border-radius: 40px;

}

.c01 {
    width: 150px;
    height: 150px;
    background-color: rgb(247, 6, 6);
    border-radius: 100px;
    box-shadow: 0 0 20px rgb(247, 6, 6); 
}
.c02 {
    width: 150px;
    height: 150px;
    background-color: rgb(250, 246, 0);
    border-radius: 100px;
    box-shadow: 0 0 20px rgb(250, 246, 0);
}

.c03 {
    width: 150px;
    height: 150px;
    background-color: rgb(96, 184, 13);
    border-radius: 100px;
    box-shadow: 0 0 20px rgb(96, 184, 13) ;
}

