* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circulo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.c01 {
    width: 150px;
    height: 150px;
    background-color: rgb(223, 19, 19);
    border-radius: 100px;
}
.c02 {
    width: 150px;
    height: 150px;
    background-color: rgb(250, 246, 0);
    border-radius: 100px;
}

.c03 {
    width: 150px;
    height: 150px;
    background-color: rgb(96, 184, 13);
    border-radius: 100px;
}

